header {
  background-color: var(--preto);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
}

.logo {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.logo:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

nav ul {
  display: flex;
}

nav ul li a {
  font-size: 20px;
  color: var(--branco);
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  color: var(--amarelo);
  transition: all 0.5s ease;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.btn-1 {
  color: var(--amarelo);
  background-color: var(--preto);
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
  border-left: 1px solid var(--amarelo);
  border-right: 1px solid var(--amarelo);
}

.btn-1:hover {
  background-color: transparent;
  color: var(--branco);
  border-left: 1px solid var(--branco);
  border-right: 1px solid var(--branco);
}

.btn-2 {
  color: var(--amarelo);
  background-color: var(--preto);
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
  border-left: 1px solid var(--amarelo);
  border-right: 1px solid var(--amarelo);
}

.btn-2:hover {
  background-color: transparent;
  color: var(--branco);
  border-left: 1px solid var(--branco);
  border-right: 1px solid var(--branco);
}
