@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("cabecalho.css");
@import url("reset.css");

:root {
  --preto: #0d090a;
  --amarelo: #eb9c0b;
  --branco: #ebebeb;
  --cinza: #48454a;
  --cinza-claro: #c1c1c1;

  --fonte-principal: "Roboto", sans-serif;
}
